/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Fonts */
@font-face {
  font-family: "Glacial Indifference";
  src: url("https://fonts.cdnfonts.com/css/glacial-indifference-2");
}

@media (min-width: 800px) {
  body {
    image-resolution: 100%;
  }
}
@media (min-width: 800px) {
  img {
    width: 100%;
    height: auto;
    display: block;
    image-resolution: 300dpi;
  }
}
/* General */
body {
  background-color: #f0efe9;
  max-width: 1800px;
  margin: 0 auto;
  font-family: "Glacial Indifference", sans-serif;
}
a {
  text-decoration: none;
  color: #1f1f1f;
  font-family: "Glacial Indifference", sans-serif;
}

h1 {
  color: #1f1f1f;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
}

h2 {
  color: #1f1f1f;
  text-align: center;
  font-size: 50px;
}
h4 {
  color: #1f1f1f;
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  font-family: "Glacial Indifference", sans-serif;
  font-weight: 300;
}
h6 {
  color: #1f1f1f;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 60px;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Glacial Indifference", sans-serif;
}

body {
  background-color: #f0efe9;
  max-width: 1800px;
  margin: 0 auto;
  font-family: "Glacial Indifference", sans-serif;
}

p {
  color: #1f1f1f;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.if-container {
  right: 0;
  text-align: center;
}

.indholdsfortegnelse {
  text-align: center;
  margin-bottom: 40px;
}

.indholdsfortegnelse h5 {
  margin-bottom: 10px;
}

.indholdsfortegnelse h3 {
  color: #1f1f1f;
  font-family: "Glacial Indifference", sans-serif;
  padding-bottom: 30px;
}
.indholdsfortegnelse a {
  margin-bottom: 10px;
  color: #98a5c2;
  text-decoration: none;
  font-weight: 600;
}

.button_opgave {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 150px;
}

.horizontal-line {
  width: 50%;
  border: none;
  border-top: 2px solid #1f1f1f;
  margin: 0 auto;
}
.h1-tal {
  color: #1f1f1f;
  font-size: 50px;
  margin-bottom: 20px;
  position: relative;
  font-weight: lighter;
  margin-top: 50px;
}

.h2-tema {
  color: #1f1f1f;
  font-size: 70px;
  margin-bottom: 70px;
  font-weight: bold;
}
.h2-animation {
  color: #1f1f1f;
  font-size: 60px;
  margin-bottom: 70px;
  font-weight: bold;
}
.additional-content {
  margin-top: 280px;
}
.img-emne1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) {
  h1 {
    color: #1f1f1f;
    text-align: center;
    font-size: 50px;
  }
  h4 {
    font-size: 40px;
  }
  h6 {
    font-size: 40px;
  }

  body {
    background-color: #f0efe9;
    max-width: 1800px;
    margin: 0 auto;
  }

  p {
    color: #1f1f1f;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
    line-height: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .if-container {
    transform: translate(0, -50%);
    text-align: right;
    margin-left: 1000px;
    margin-top: 100px;
  }

  .indholdsfortegnelse {
    text-align: left;
    margin-bottom: 40px;
  }

  .indholdsfortegnelse h5 {
    margin-bottom: 20px;
  }

  .indholdsfortegnelse h3 {
    color: #1f1f1f;
    font-family: "Glacial Indifference", sans-serif;
    padding-bottom: 15px;
  }
  .indholdsfortegnelse a:hover {
    margin-bottom: 10px;
    color: #1f1f1f;
    text-decoration: none;
    font-style: bold;
    font-weight: 600;
  }

  .button_opgave {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 150px;
  }

  .horizontal-line {
    width: 50%;
    border: none;
    border-top: 2px solid #1f1f1f;
    margin: 0 auto;
  }
}

/* Web */
.img-emne {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
}
.emne-mindmap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.img-emne2 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (min-width: 800px) {
  .h1-tal {
    color: #1f1f1f;
    font-size: 280px;
    margin-bottom: 10px;
    position: relative;
    left: -90px;
    font-weight: lighter;
    margin-top: 78px;
  }

  .h2-tema {
    color: #1f1f1f;
    font-size: 200px;
    margin-bottom: 10px;
    position: relative;
    left: -90px;
    font-weight: bold;
    margin-top: 150px;
  }
  .h2-animation {
    color: #1f1f1f;
    font-size: 130px;
    margin-bottom: 10px;
    position: relative;
    left: -90px;
    font-weight: bold;
    margin-top: 150px;
  }
  .additional-content {
    margin-top: 0px;
  }
  .img-emne {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
  }

  .emne-mindmap {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .img-emne1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
  }
  .img-emne2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}
/* UX */
.h6-målgruppe {
  color: #1f1f1f;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}
.usp {
  background-color: #1f1f1f;
  color: #f0efe9;
}
.h6-usp {
  color: #f0efe9;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 60px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.p-usp {
  color: #f0efe9;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 3rem;
  padding-bottom: 50px;
}
@media screen and (min-width: 800px) {
  .ux-mindmap {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .h6-målgruppe {
    color: #1f1f1f;
    text-align: left;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 200px;
  }

  .p-udfordringer-formål {
    color: #1f1f1f;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1px;
  }
  .p-målgruppe {
    color: #1f1f1f;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
  }

  .usp {
    background-color: #1f1f1f;
    color: #f0efe9;
  }
  .h6-usp {
    color: #f0efe9;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 60px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .p-usp {
    color: #f0efe9;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 50px;
  }
  .img-emne1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

/* Animation */
.lyd {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
}
@media screen and (min-width: 800px) {
  .sounds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
  .lyd {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .pige_svg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .ui-element {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Indhold */
.video {
  width: 90%; /* Adjust the width as needed */
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .video {
    width: 50%; /* Adjust the width as needed */
    display: block;
    margin: 0 auto;
  }
}
/* Portfolio */

/* next knap */
.next {
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}
@media screen and (min-width: 800px) {
  .next {
    text-decoration: none;
    font-weight: 600;
    text-align: right;
    font-size: 30px;
  }
}

/* Navbar */

header {
  position: sticky;
  top: 0;
  background-color: #f0efe9;
  color: #1f1f1f;
  padding: 20px;
  margin-top: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Position items on the right side */
  padding-right: 10px;
}

.burger-menu {
  display: none; /* Hide burger menu by default on desktop */
}

.line {
  width: 100%;
  height: 1px;
  background-color: #1f1f1f;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: #1f1f1f;
}

.logo a {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  top: 4rem;
  right: 30rem;
  color: #1f1f1f;
  text-decoration: solid;
  font-weight: bold;
  font-size: 24px;
  padding-right: 45px;
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .burger-menu {
    display: block; /* Show burger menu on mobile */
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #f0efe9;
    top: 70px;
    right: 20px; /* Position the menu on the right side */
    left: unset; /* Clear the left position */
    padding: 20px;
  }

  .menu.active li {
    margin: 10px 0;
  }

  .burger-menu.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger-menu.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
@media (min-width: 800px) {
  .logo a {
    width: 80px;
    height: 200px;
    margin: 0 auto;
    top: 4rem;
    right: -9rem;
    color: #1f1f1f;
    text-decoration: solid;
    font-weight: bold;
    font-size: 23px;
    padding-right: 950px;
  }
}
/* Footer */
footer {
  background-color: #f0efe9;
  color: #1f1f1f;
  font-family: "Glacial Indifference", sans-serif;
  letter-spacing: 0px;
  padding-top: 30 px;
  padding-bottom: 100px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.icon-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon-container p {
  margin-left: 10px;
  font-size: 10px;
}

@media (min-width: 800px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0efe9;
    color: #1f1f1f;
  }

  .icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .icon-container p {
    margin-left: 10px;
    font-size: 14px;
  }
}

/********************* Media ***********************/
@media (min-width: 800px) {
  img {
    width: 100%;
    height: auto;
    display: block;
    image-resolution: 300dpi;
  }
}
