main {
  max-width: 1200px;
  margin: 0 auto;
}

/* portfolio menu */

.grid1_1 {
  padding-top: 20px;
  gap: 10px;
}

.grid1_1 a {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.grid1_1 .img-menu {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1; /* Maintain a square aspect ratio */
}

@media (min-width: 800px) {
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    gap: 50px;
  }

  .grid1_1 a {
    display: flex;
    align-items: stretch;
  }

  .grid1_1 img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

/* web */
@media (min-width: 800px) {
  .grid-h1-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
/* footer */
